doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.0.1/sweetalert.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.0.1/sweetalert.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css')
    link(rel='stylesheet', href='./stylesheets/style2.css')
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js')
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css')
  body
    block content
